<!-- Sample launch file for running talker and listener -->
<launch>


    <!--TODO: Fill in code to launch velocity_commander and dispather node-->

    <!-- Launch MAVROS node -->
    <node pkg="mavros" type="mavros_node" name="mavros" required="$(eval not respawn_mavros)" clear_params="true" output="$(arg log_output)" respawn="$(arg respawn_mavros)">
        <param name="fcu_url" value="tcp://127.0.0.1:5760"/>
        <param name="system_id" value="2"/>
        <param name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
        <param name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />
    </node>


</launch>
